{% extends "obtain_token.html.twig" %}

{% block title %}Zahlung autorisieren - Payplace{% endblock %}

{% block header %}
    <h2>Zahlung autorisieren</h2>
    <p>Die Zahlung wird reserviert, aber noch nicht eingezogen.</p>
{% endblock %} 