{% extends "obtain_token.html.twig" %}

{% block title %}Zahlung durchführen - Payplace{% endblock %}

{% block header %}
    <h2>Zahlung durchführen</h2>
    <p>Die Zahlung wird autorisiert und sofort eingezogen.</p>
{% endblock %} 